```
# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.vscode/
.idea/

# Logs
*.log

# Temp files
*.tmp
*.swp

# Environment
.env
.env.local
*.env.*

# Coverage
coverage/
htmlcov/
.coverage

# OS
.DS_Store
Thumbs.db

# Archives
*.zip
*.gz
*.tar
*.tgz
*.bz2
*.xz
*.7z
*.rar
*.zst
*.lz4
*.lzh
*.cab
*.arj
*.rpm
*.deb
*.Z
*.lz
*.lzo
```